<ion-content [fullscreen]="true">


  <ion-card style="margin-top: 5rem; margin-left: 2rem; margin-right: 2rem;">
    <img    src={{dog.image_url}}  style="width: 100%;"/>
    <ion-card-header  style="display:flex; align-items: center; justify-content: space-between;">
     

  
    </ion-card-header>

  </ion-card>

  <div style=" display:flex; align-items: center; justify-content: center; flex-direction: column; gap:3rem">
   
    <ion-button style=" background-color:black; color:aliceblue" fill="outline" href="/predict">Continue</ion-button>
  </div>

</ion-content>